h1 {
  font-size: 50px;
  font-weight: normal;
  color: white;
}
h4 {
  font-size: 16px;
}
* {
  font-family: Verdana;
  color: white;
  text-align: center;
}
body{
  background-color: black;
}
a{
  color: aquamarine;
  font-weight: normal;
}
h2 {
  font-weight: 300;
  font-size: 42px;
}
h3 {
  font-size: 21px;
  color: gray;
  font-weight: normal
}
h3.icon{
  text-align: right;
}
